/* DashboardPage.css */

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--title-color);
}

.action-buttons {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.summary-card {
  flex: 1;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  text-align: center;
  background-color: var(--card-color);
  color: var(--text-color);
}

.summary-card h3 {
  margin-bottom: 10px;
  color: var(--subtitle-color);
}

.dashboard-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-button:hover {
  background-color: var(--highlight-color);
}

.dashboard-button:active {
  background-color: var(--highlight-color);
}

.dashboard-button:focus {
  outline: none;
}